/* Space out content a bit */
body {
    font-family: "Alef Hebrew",
                “Helvetica Neue”,
                Helvetica,
                Arial,
                sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Alef Hebrew", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* collection - grid */
.collection .profile img {
    margin-left: 10px;
}

/* home page */
.home-banner .slogan {
    text-align: left;
    left: 10%;
}
.home-banner .slogan h1 {
    text-align: right;
}
.home-content .benefits .glyphicon {
    margin-left: 10px;
}

/* fix for inline forms within horizontal forms */
.form-inline .form-group {
    margin-left: 5px;
    margin-right: 0;
}

/* find pro to review */
.steps li:first-child {
    margin-left: 40px;
}

/* photo details */
.comments .comment .content {
    margin-right: 12px;
}
.photo-details dt {
    text-align: right;
}
.photo-details .photo .stats span {
    margin-left: 20px;
    float: right;
}
.photo-details .photo .actions {
    float: left;
}
.photo-details .profile img {
    margin-left: 10px;
}

/* navbar */
.navbar .profile img {
    margin-left: 5px;
}

/* profile page */

.main .contact-info {
    margin-left: 10px;
}
.rating .stars {
    padding-left: 5px;
}
/* search pages*/
.label {
    margin-left: 10px;
}
.label .dismiss {
    left: 0;
    margin-right: 5px;
}

/* action button */
.actions
{
    left: 15px;
}
a.action {
    float: left;
    margin-right: 10px;
}
a.action.like {
    color: #f55555;
}
/* manage resources*/
.resourceList a.btn {
    text-align: right;
    padding-right: 20px;
}

/* faceook login button */
.btn-fb-login:before {
    border-left: 1px rgba(255,255,255,0.18) solid;
    margin-left: 16px;
}
