<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- classified service config -->
    <add key="Classy:AppId" value="v1.0" />
    <add key="Classy:EndpointBaseUrl" value="http://www.thisisclassy.com:8008" />
    <add key="Classy:CloudFrontDistributionUrl" value="d107oye3n9eb07.cloudfront.net" />
    <add key="Facebook:AppId" value="281478942020037"/>
    <!-- deployment 
    <add key="Classy:Deployment:BuildFailsIfMissingTranslations" value="False" />
    <add key="Classy:Deployment:CopyMissingResourcesFromRemoteDatabase" value="False" />
    <add key="Classy:Deployment:OverwriteExistingResourceValues" value="False" />
    <add key="Classy:Deployment:SourceApiEndpoint" value="." />
    <add key="Classy:Deployment:TargetApiEndpoint" value="http://marketplaceapi.apphb.com" />-->
    <!-- fix appharbor proxy port in urls -->
    <add key="aspnet:UseHostHeaderForRequestUrl" value="true" />
  </appSettings>
  <system.web>
    <globalization enableClientBasedCulture="true" uiCulture="auto" culture="auto" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="16348" requestPathInvalidCharacters="&lt;,&gt;,*,%,:,\,?" />
    <pages>
      <namespaces>
        <add namespace="System.Linq" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Classy.DotNet.Mvc.Localization" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <rewrite>
      <rules>
        <rule name="OldCultureRedirectRule" stopProcessing="true">
          <match url="(.*)en-US(.*)" ignoreCase="true" />
          <action type="Redirect" url="{R:1}en{R:2}" redirectType="Permanent" />
        </rule>
        <rule name="OldProfileLocationRedirectRule" stopProcessing="true">
          <match url="(.*)" />
          <conditions trackAllCaptures="true">
            <add input="{QUERY_STRING}" pattern="^category=([^=&amp;]+)&amp;location=([^=&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="{R:1}?category={C:1}&amp;countrycode={C:2}" appendQueryString="false" redirectType="Permanent" />
        </rule>
        <rule name="Sitemap Rewrite to Amazon S3">
          <match url="sitemap.xml" />
          <action type="Redirect" url="https://s3.amazonaws.com/classy-myhome/sitemap.xml" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <add name="sitemapIntercept" path="sitemap*.xml" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" processorArchitecture="MSIL" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
