
/* Custom fix bc of ActionBar section */
.action-bar {
    position: fixed;width: 100%;
}
div.content.container {
    margin-top: 30px;
}


/* EditorTools image action effects */
.action-bar .editor-tools {
    
}
.action-bar input {
    width: 50px;height: 32px;
    display: inline-block;
}
.action-bar .save {
    margin-left: 30px;
}

.photo.thumbnail img.selected {
    opacity: 0.3 !important;
}

.photo.thumbnail .editors-rank {
    position: absolute;top: 0;left: 0;
    padding: 4px 22px;
    background-color: #fff;opacity: 0.8;
    color: #000;font-weight: bold;
}