/* Space out content a bit */
body
{
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 90px;
    background: #f0f0f0;
    min-width: 1200px;
}

h1, h2, h3, h4, h5
{
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1
{
    color: #444;
    font-size: 22px;
    font-weight: bold;
}

p
{
    color: #777;
}

hr
{
    border-bottom: solid 1px #ddd;
}

img[data-rel="thumbnail"] {
    opacity: 0;
    transition: opacity .3s ease-in;
}

a, a:visited
{
    color: #777;
}

    a:hover
    {
        color: #999;
    }

    a.btn,
    button.btn
    {
        color: #fff;
    }

    a.btn-default,
    button.btn-default
    {
        background-color: #f0f0f0;
        color: #777;
        border-color: #999;
    }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover
{
    background-color: #f0f0f0;
}

.nav-tabs > li > a:hover
{
    background-color: #ddd;
}

.action-bar {
    margin-top: -30px;
    background-color: #428bca;
    z-index: 999;
    margin-bottom: 30px;
}

.action-bar .btn {
    margin: 10px 0;
}

.action-bar .btn-primary {
    border: none;       
}

.close
{
    color: #777;
    text-shadow: 0 1px 0 #000;
    opacity: 1;
    filter: alpha(opacity=100);
}

    .close:hover
    {
        color: #fff;
        opacity: 1;
        text-shadow: 0 1px 0 #000;
        filter: alpha(opacity=100);
    }

.media > .pull-left
{
    margin-right: 10px;
}

.media-body
{
    background: #fff;
    padding: 0 10px;
}

.content.container
{
    padding: 0;
    min-height: 620px;
}

.modal-header
{
    background-color: #333;
    color: #fff;
}

.modal-body
{
    background-color: #f0f0f0;
}

.modal-content
{
    border-radius: 0px;
}

.modal-footer
{
    margin-top: 0px;
    background-color: #F0F0F0;
}

.helpbar .content
{
    background-color: #f5f5f5;
    padding: 10px;
}

.helpbar h1
{
    margin-top: 22px;
    border-bottom: solid 5px #333;
    padding-bottom: 10px;
    margin-bottom: 0;
    color: #444;
}

.photo.thumbnail ul.stats
{
    color: #aaa;
    margin-bottom: 0;
}

.photo.thumbnail a
{
    text-decoration: none;
}

.photo.thumbnail .origin {
    position: relative;
    bottom: 60px;
    left: 10px;
    background-color: #000;
    display: inline-block;
    min-height: 18px;
}
.photo.thumbnail .origin a,
.photo.thumbnail .origin span {
    color: #fff;
    font-size: 10px;
    display: inline-block;
    padding: 3px 5px;
}

/* profile page */
.contact-button
{
    margin-bottom: 10px;
}

.contact-info
{
    margin-bottom: 5px;
}

.profile-header
{
    margin-bottom: 20px;
}

    .profile-header .media-body
    {
        background-color: #f0f0f0;
        padding: 0 20px;
    }

.profile-title h1
{
    font-size: 36px;
    vertical-align: top;
}

    .profile-title h1 a,
    .profile-title h1 a:hover,
    .profile-title h1 a:visited
    {
        color: #444;
        text-decoration: none;
    }

.profile-title small
{
    font-size: 12px;
}

.social-stats li
{
    font-size: 14px;
    margin-right: 10px;
    padding: 0 10px 0 0;
    border-right: solid 1px #ddd;
    vertical-align: top;
}

    .social-stats li:last-child
    {
        margin-right: 0;
        padding-right: 0;
        border: none;
        padding-top: 5px;
    }

        .social-stats li:last-child span
        {
            display: inline-block;
            padding-top: 10px;
        }

    .social-stats li strong
    {
        font-size: 18px;
    }


/* collection - grid */
.collection .profile img
{
    margin-right: 10px;
    margin-bottom: 10px;
}

/* home page */
.pre-content .slogan
{
    text-align: right;
    position: absolute;
    right: 15%;
    background-color: rgba(245, 245, 245, 0.4);
    padding: 20px;
    z-index: 1;
}

    .pre-content .slogan h1,
    .pre-content .slogan h1 p
    {
        text-align: left;
        font-size: 36px;
        color: #fff;
        text-shadow: 1.5px 3.33px 13px rgba(0,0,0,0.7);
        margin: 0;
    }

    .pre-content .slogan .signin
    {
        position: relative;
        right: 0;
    }

        .pre-content .slogan .signin a
        {
            margin-top: 20px;
        }
.pre-content .carousel {
    height: 650px;
    top: -90px;
}

#homeslide .credit {
    position: absolute;
    right: 100px;
    bottom: 50px;
    padding: 5px;
    background-color: #000;
    color: #fff;
}

#homeslide .credit a,
#homeslide .credit a:hover {
    color: #fff;
}


.home-content
{
    position: relative;
    top: -90px;
}

    .home-content .benefits
    {
        font-size: 18px;
    }

    .home-content .benefits
    {
        margin-bottom: 20px;
    }

        .home-content .benefits .glyphicon
        {
            color: #47a447;
            font-size: 24px;
            margin-right: 10px;
        }

    .home-content .about
    {
        /*margin-top: 40px;*/
    }

#articles .media
{
    max-height: 228px;
}

#articles .media-body 
{
    padding: 10px;
}

#articles .media-body p
{
    font-size: 13px;
}

/* fix for inline forms within horizontal forms */
.form-inline .form-group
{
    margin-left: 0;
    margin-right: 5px;
    padding-left: 0;
    padding-right: 0;
}

/* panels*/
.panel-first
{
    margin-top: 20px;
}

.panel
{
    margin-bottom: 10px;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: #f0f0f0;
}

.panel-default > .panel-heading
{
    background-color: #f0f0f0;
    padding: 10px 0;
}

.panel-default > .panel-body
{
    padding: 10px 0;
}

.panel-title
{
    color: #333;
    font-weight: bold;
    font-size: 14px;
}

.panel-body
{
    padding: 0;
}

    .panel-body.social-thumbnails
    {
        padding: 5px;
    }

        .panel-body.social-thumbnails .thumbnail
        {
            border-radius: 0;
            padding: 1px;
            margin-bottom: 0;
        }

.panel-links a,
.panel-links a:hover
{
    display: block;
    width: 100%;
    padding-bottom: 5px;
    text-decoration: none;
}

/* find pro to review */
.steps li
{
    color: #999;
    vertical-align: top;
    width: 40%;
}

    .steps li:first-child
    {
        margin-right: 40px;
    }

    .steps li .visual
    {
        display: block;
        padding: 20px;
        font-size: 96px;
        width: 136px;
        height: 136px;
        line-height: 1px;
    }

    .steps li .verbal
    {
        font-size: 24px;
    }

.steps .search,
.steps .selection
{
    color: #000;
    margin-top: 10px;
}

/* photo details */
.comments
{
    font-size: 13px;
}

    .comments.panel-body
    {
        padding: 10px;
    }

    .comments .comment p
    {
        margin: 5px 0 5px 0;
    }

    .comments .comment hr
    {
        margin: 5px 0;
    }

    .comments .comment .content
    {
        margin-left: 12px;
    }

.photo-details dt
{
    text-align: left;
}

.photo-details .photo .stats
{
    color: #aaa;
    margin-top: 10px;
}

    .photo-details .photo .stats span
    {
        display: inline-block;
        margin-right: 20px;
        padding: 5px 0;
        float: left;
    }

.photo-details .actions
{
    position: relative;
    bottom: initial;
    height: 32px;
    top: 0;
}

.photo-details .actions .share-email
{
    border: none;
    font-size: 16px;
    padding-top: 5px;
    padding-right: 3px;
    background-color: #aad450;
    color: #fff;
}
.photo-details .actions .share-facebook
{
    background-color: #3b5998;
    color: #fff;
    border: none;
font-size: 18px;
padding: 3px;
}
.photo-details .actions .share-twitter
{
    background-color: #00aced;
        color: #fff;
    border: none;
font-size: 18px;
padding: 3px;
}
.photo-details .actions .share-google-plus
{
    background-color: #dd4b39;
        color: #fff;
    border: none;
font-size: 18px;
padding: 3px;
}
.photo-details .profile img
{
    margin-right: 10px;
}

.photo.thumbnail {
    min-height: 300px;
}

.photo.thumbnail .actions
{
    display: none;
}

.photo.thumbnail:hover .actions
{
    display: block;
}

/* navbar */
#cookie-policy
{
    background-color: #f0f0f0;
    color: #777;
    padding: 5px;
}

    #cookie-policy a
    {
        text-decoration: underline;
    }

#close-cookie-policy
{
    cursor: pointer;
}

.navbar
{
    border: none;
    background: #333;
}

.navbar-brand
{
    background: url(/img/homelab-logo.png) center left no-repeat;
    width: 50px;
    height: 60px;
    overflow: hidden;
}

.navbar-brand .name {
    padding-top: 100px;
    display: inline-block;
}

.navbar-form
{
    margin-top: 16px;
    padding: 0;
}

    .navbar-form .btn-default
    {
        color: #777;
        border-left: none;
    }

.navbar-nav > li > a
{
    font-size: 16px;
    margin-top: 8px;
}

.dropdown-menu > li.top > a
{
    font-weight: bold;
}

.navbar span.glyphicon
{
    top: 2px;
    font-size: 16px;
}

.navbar .profile a
{
    height: 35px;
}

.navbar .profile img
{
    margin-right: 5px;
}

.navbar .login-dropdown
{
    padding: 15px;
    min-width: 280px;
}
/* search pages*/
.search-form
{
    margin: 20px 0;
}

/* profile page */
.sidebar .image
{
    position: relative;
}

    .sidebar .image img
    {
        margin-bottom: 10px;
        width: 100%;
    }

.update-image
{
    position: relative;
    overflow: hidden;
}

    .update-image > input[type=file]
    {
        position: absolute;
        top: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        height: 35px;
    }

.main h1
{
    font-size: 32px;
    margin-top: 0;
}

.main .contact-info
{
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 12px;
}

.rating
{
    vertical-align: middle;
}

    .rating .stars
    {
        padding-right: 5px;
        cursor: pointer;
    }

    .rating .glyphicon
    {
        font-size: 14px;
        color: #47a447;
    }

span.address2
{
    padding-left: 18px;
}

.thumbnail
{
    position: relative;
    padding: 0;
    border: none;
    background-color: #f0f0f0;
}

.profile.thumbnail {
    background-color: #fff;
}

    .thumbnail .deleted
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #999;
        opacity: 0.4;
        z-index: 1000;
    }

    .thumbnail > img
    {
        width: 100%;
    }

    .thumbnail .details,
    .thumbnail .details
    {
        padding: 5px;
    }

#profileTabs
{
    margin-bottom: 10px;
}

#reviews .review .content
{
    font-size: 12px;
}

.new-object {
    text-align: center;
    height: 218px;
}

.new-object i {
    font-size: 72px;
    color: #999;
}

.new-object a, 
.new-object a:hover {
    border: dashed 3px #999;
    display: block;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    color: #999;
}

.new-object p {
    color: #999;
}

/* Login page */
.login
{
    padding: 0 30px;
}
/* search pages*/
.label-container .label
{
    display: inline;
    font-weight: normal;
    margin-right: 10px;
    font-size: 13px;
}

    .label-container .label a,
    .label-container .label a:hover
    {
        color: #fff;
        text-decoration: none;
    }

    .label-container .label .dismiss
    {
        display: inline-block;
        right: 0;
        top: 0;
        margin-left: 5px;
    }
/* profile search page */
.results .profile
{
    border: solid 1px #e5e5e5;
    margin-bottom: 10px;
    padding: 10px;
    height: 205px;
}

    .results .profile .glyphicon
    {
        color: #47a447;
        font-size: 14px;
    }
    .results .profile .media
    {
        background-color: #fff;
        max-height: 170px;
        overflow: hidden;
    }
    .results .col-md-12 .profile .media {
        width: 600px;
    }

    .results .profile .media-body
    {
        font-size: 12px;
        padding: 5px 10px;
    }

/* login */
.fb
{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #e5e5e5;
    margin-bottom: 20px;
}

.login .form-group
{
    margin-bottom: 0;
}

.login .form-control
{
    height: 44px;
}

.login form
{
    margin-bottom: 15px;
}

/* forms */
.form-group .col-lg-2,
.form-group .col-lg-12
{
    padding: 0;
}

/* footer*/
.footer-categories li
{
    vertical-align: top;
}

/* action button */
.actions
{
    position: absolute;
    right: 10px;
    top: 10px;
}

a.action
{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    font-size: 12px;
    padding: 6px 0;
    line-height: 1.428571429;
    text-align: center;
    float: left;
    margin-left: 5px;
    z-index: 999;
    background-color: #fff;
}

    a.action.like
    {
        color: #f55555;
    }

    a.action.like-on
    {
        color: #fff;
        background-color: #f55555;
    }
    a.action.remove
    {
        color: #fff;
        background-color: #D9534F;
    }
    a.action.share
    {
        color: #398439;
    }
    a.action.share:hover
    {
        color: #fff;
    }

/* manage resources*/
.resourceListContainer
{
    height: 500px;
}

.resourceList
{
    overflow-y: scroll;
    height: 100%;
}

    .resourceList a.btn
    {
        text-align: left;
        padding-left: 20px;
    }


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer
{
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header
{
    border-bottom: 1px solid #e5e5e5;
}

    /* Make the masthead heading the same height as the navigation */
    .header h3
    {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }

/* Custom page footer */
.footer
{
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */


.container-narrow > hr
{
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron
{
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

    .jumbotron .btn
    {
        font-size: 21px;
        padding: 14px 24px;
    }

/* Supporting marketing content */
.marketing
{
    margin: 40px 0;
}

    .marketing p + h4
    {
        margin-top: 28px;
    }


@media (min-width: 200px) /* change to 768px to make responsive again*/
{
    .container
    {
        max-width: 1200px;
    }
}

@media (min-width: 1200px)
{
    .container
    {
        max-width: 1200px;
    }
}

/* faceook login button */
.btn-fb-login, .btn-fb-login:hover
{
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6086d5), color-stop(100%, #4567ac));
    background: -webkit-linear-gradient(#6086d5, #4567ac);
    background: -moz-linear-gradient(#6086d5, #4567ac);
    background: -o-linear-gradient(#6086d5, #4567ac);
    background: linear-gradient(#6086d5,#4567ac);
    border-color: #5275bc #4363a4 #35518c;
    color: #fff;
    font-weight: bolder;
}

    .btn-fb-login:before
    {
        content: '';
        width: 16px;
        height: 24px;
        background: url(/img/fb.png) left top no-repeat;
        border-right: 1px rgba(255,255,255,0.18) solid;
        display: inline-block;
        margin-right: 8px;
        vertical-align: -7px;
    }

.fb-footnote
{
    color: #BDC3C7;
    font-size: 14px;
}

#filesPreview .img-preview
{
    height: 150px;
    margin: 0px auto 5px auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

#filesPreview .progress
{
    margin-bottom: 10px;
    height: 4px;
}

.form-control.input-validation-error
{
    border-color: #A94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.collection .view-icons {
    position: relative;
    height: 35px;
    text-align: center;
}
.collection .view-icons .icons {
    position:relative;
    font-size: 18px;
    z-index: 99;
    padding-top: 9px;
}

.collection .view-icons hr {
    z-index: 98;
    position: absolute;
    top: 0;
    width: 100%;
}
    .collection .view-icons a {
        padding: 0 20px;
        background-color: #f0f0f0;
    }

.collection-items
{
    margin-top: 40px;
}

    .collection-items > .row
    {
        height: 190px;
    }
    .collection-items textarea
    {
        height: 170px;
        resize:none;
    }

.collection .profile-actions
{
    margin-bottom: 20px;
}

.article-content
{
    margin: 20px 0px;
}

.article-paragraph
{
    clear: both;
    margin-bottom: 20px;
}

.article-image, .article-comments
{
    margin: 15px;
}

.article-image
{
    text-align: center;
}

    .article-image img
    {
        max-width: 100%;
    }

    .article-image.image-side
    {
        float: left;
        margin: 0 15px 15px 0px;
    }

#photo-modal .modal-dialog
{
    width: 1024px;
}

#photo-modal #editPhotoPreview
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

    #photo-modal #editPhotoPreview > img
    {
        max-width: 100%;
        max-height: 95%;
        display: none;
    }

div.upload {
    float: left;
    margin-bottom: 20px;
}

.btn-select-files
{
    position: relative;
    z-index: 1;
    margin-right: 20px;
    overflow: hidden;
}

div.radio.checkbox-inline {
    margin-top: 0;
    margin-bottom: 10px;
}

div.upload #file
{
    position: absolute;
    opacity: 0;
    z-index: 2;
    filter: alpha(opacity=0);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#filesPreview .filename
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

    #filesPreview .filename.error
    {
        color: #c00;
    }

/* facebook photos */
.fb-photos .thumbnail
{
    position: relative;
}

    .fb-photos .thumbnail .select
    {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px 10px;
        background-color: #6086d5;
        color: #6086d5;
    }

        .fb-photos .thumbnail .select.selected .glyphicon
        {
            color: #fff;
        }

.lnk-select-contant
{
    color: green;
    text-align: right;
}

.google-contacts
{
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 20px auto;
    border: 1px solid #CECECE;
    padding: 2px 0px 0px 2px;
}

.google-contacts tr
{
    background-color: #FFF;
}

.google-contacts tr .email
{
    cursor: pointer;
}

.google-contacts tr.selected
{
    background: #d9edf7;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.twitter-typeahead .tt-hint
{
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px;
}

.twitter-typeahead .hint-small
{
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    line-height: 1.5;
}

.twitter-typeahead .hint-large
{
    height: 45px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    line-height: 1.33;
}

.tt-suggestion.tt-is-under-cursor a, .tt-suggestion.tt-is-under-cursor p
{
    color: #fff;
}

.tt-suggestion p
{
    margin: 0;
}

.twitter-typeahead
{
    width: 100%;
}

.tt-dropdown-menu
{
    width: 100%;
}

.tt-hint
{
    width: 100%;
}

span.error
{
    color: red;
}

.thumbs1, .thumbs2, .thumbs3, .thumbs4
{
    width: 100%;
    height: 220px;
    border: 1px solid #ececec;
}

div.thumbs1 > div.thumb
{
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #fff;
}

div.thumbs2 > div.thumb
{
    width: 49%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #fff;
    display: inline-block;
    float: left;
}

    div.thumbs2 > div.thumb:last-child
    {
        float: right;
    }

div.thumbs3 > div.thumb
{
    width: 24%;
    height: 49%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #fff;
    display: inline-block;
    float: right;
    margin-bottom: 2%;
}

    div.thumbs3 > div.thumb:first-child, div.thumbs4 > div.thumb:first-child
    {
        width: 74%;
        height: 100%;
        float: left;
        margin-bottom: 0px;
    }

    div.thumbs3 > div.thumb:last-child, div.thumbs4 > div.thumb:last-child
    {
        margin-bottom: 0px;
    }

div.thumbs4 > div.thumb
{
    width: 24%;
    height: 31.7%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #fff;
    display: inline-block;
    float: right;
    margin-bottom: 2%;
}
   
/* Cover photos */
.my-photos .thumbnail
{
    position: relative;
}

    .my-photos .thumbnail .select
    {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px 10px;
        background-color: #6086d5;
        color: #6086d5;
    }

        .my-photos .thumbnail .select.selected .glyphicon
        {
            color: #fff;
        }

.cover-photos
{
    width: 175px;
}

    .cover-photos img
    {
        width: 85px;
        height: 85px;
        margin-bottom: 5px;
    }
        .cover-photos img:nth-child(odd)
        {
            float: left;
        }
        .cover-photos img:nth-child(even)
        {
            float: right;
        }

.edit-actions
{
    margin-top: 20px;
}
.form-buttons
{
    text-align: right;
}

.album .media
{
    margin-bottom: 15px;
}
.profile-actions div.dropdown
{
    display: inline-block;
}

    .profile-actions div.dropdown ul li, .actions div.dropdown ul li
    {
        text-indent: 20px;
    }

.album .media a
{
    height: 120px;
    display: block;
    background-color: #FFF;
    vertical-align: middle;
}

    .album .media a img
    {
        max-height: 100%;
        margin: 0px auto;
    }

.album .media-body
{
    padding: 0px;
}

    .album .media-body .media-heading
    {
        margin: 5px 0 5px;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }

.fb-photos .thumbnail
{
    height: 110px;
    display: block;
    width: 100%;
    margin-bottom: 15px;
}
.fb-photos .thumbnail > img, .thumbnail a > img
{
    max-height: 100%;
    margin: 0px auto;
}
    .profile-actions div.dropdown ul li a.email, .actions div.dropdown ul li a.email
    {
        background: transparent url(/img/email.png) no-repeat 16px center;
    }
    .profile-actions div.dropdown ul li a.facebook, .actions div.dropdown ul li a.facebook
    {
        background: transparent url(/img/facebook.png) no-repeat 16px center;
    }
    .profile-actions div.dropdown ul li a.twitter, .actions div.dropdown ul li a.twitter
    {
        background: transparent url(/img/twitter.png) no-repeat 16px center;
    }
    .profile-actions div.dropdown ul li a.googleplus, .actions div.dropdown ul li a.googleplus
    {
        background: transparent url(/img/googleplus.png) no-repeat 16px center;
    }

    .profile-actions div.dropdown ul li a:hover, .actions div.dropdown ul li a:hover
    {
        background-color:  #428BCA;
        color: #fff;
    }
.upload-status, .upload-status > div
{
    margin-top: 20px;
}

.photo.thumbnail .details strong
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.collection-items .thumbnail
{
    margin-bottom: 0px;
}
#sameProject .panel-body, #sameWebOrigin .panel-body
{
    max-height: 240px;
    overflow-y: auto;
}

#projectsSameProfile .panel-body
{
    max-height: 300px;
    overflow-y: auto;
}

#sameProject img, #sameWebOrigin img
{
    float: left;
    padding: 2px;
    margin: 2px;
}

#sameProject .panel-heading, #sameWebOrigin .panel-heading, #projectsSameProfile .panel-heading
{
    font-weight: bold;
    margin-bottom: 5px;
}

.verify-email
{
    position: fixed;
    top: 124px;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 2;
}

    .verify-email .alert
    {
        padding: 15px 15px;
        margin: 0px;
        display: inline-block;
    }
.upload-catalog-step
{
    margin-bottom: 20px;
}

    .upload-catalog-step > div:first-child
    {
        display: block;
        margin-bottom: 10px;
    }
