@model Classy.DotNet.Responses.ListingView

@{
    var photoMetadata = Model.Metadata != null ? new MyHome.Models.PhotoMetadata().FromDictionary(Model.Metadata) : null;        
}

<div class="origin">
    @if (photoMetadata.IsWebPhoto)
    {
        <a href="@photoMetadata.CopyrightMessage" target="_blank" rel="nofollow">@(new Uri(photoMetadata.CopyrightMessage).Host)</a>
    }
    else
    {
        if (!string.IsNullOrEmpty(photoMetadata.CopyrightMessage)) {
            <span>@photoMetadata.CopyrightMessage</span>
        }
        else
        {
            <span>@Model.Profile.GetProfileName()</span>
        }
    }
</div>