@model Classy.DotNet.Responses.ListingView

@{
    var photoMetadata = Model.Metadata != null ? new MyHome.Models.PhotoMetadata().FromDictionary(Model.Metadata) : null;        
}

<div class="origin">
    @if (photoMetadata != null)
    {
        if (!string.IsNullOrEmpty(photoMetadata.CopyrightMessage))
        {
            if (photoMetadata.CopyrightMessage.StartsWith("http"))
            {
                <a href="@photoMetadata.CopyrightMessage" target="_blank">@Localizer.Get("PhotoCopyrightMessage_VisitWebsite")</a>
            }
            else
            {
                <!-- copyright message -->
            }
        }
        else if (Model.Profile != null)
        {
            <a href="@Url.RouteUrlForCurrentLocale("PublicProfile", new { ProfileId = Model.ProfileId, Slug = Model.Profile.GetProfileName().ToSlug() })">@string.Format(Localizer.Get("PhotoCopyrightMessage_PhotoBy"))</a>
        }
    }
</div>