@model Classy.DotNet.Responses.ListingView

@{
    var photoMetadata = Model.Metadata != null ? new MyHome.Models.PhotoMetadata().FromDictionary(Model.Metadata) : null;        
}

<div class="origin">
    @if (!string.IsNullOrEmpty(photoMetadata.CopyrightMessage))
    {
        if (photoMetadata.CopyrightMessage.StartsWith("http") || photoMetadata.CopyrightMessage.StartsWith("//"))
        {
            <a href="@photoMetadata.CopyrightMessage" target="_blank" rel="nofollow">@(new Uri(photoMetadata.CopyrightMessage).Host)</a>
        }
        else
        {
            <span>@photoMetadata.CopyrightMessage</span>
        }
    }
</div>