body { background-color: #f0f0f0; font-size: 14px; color: #333;overflow: hidden; }
h1 { color: #444;font-size: 24px; margin: 0;font-weight: bold; }
h3 { font-size: 16px;margin-top: 0; }

.glyphicon-star, .glyphicon-star-empty { color: green;}
.panel { border-radius: 0;border-left: 0;border-right: 0; }
.panel-footer { background-color: #fff;font-size: 14px;font-weight: bold; }

.header-cover {
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    white-space: nowrap;
    color: white;text-shadow: 0 1px 1px #000;
}
.header-cover .cover-slider {
    position: relative;
    -webkit-transition: left 1s;
}
.header-cover .pane {
    display: inline-block;height: 200px; width: 100%;
    vertical-align: top;padding: 20px;
    white-space: normal;text-align: center;
}
.header-cover .pane2 { line-height: 160px;background-color: rgba(0, 0, 0, 0.5); }
.header-cover .pane2 .description { vertical-align: middle;line-height: normal;white-space: normal;display: inline-block; }
.header-cover .arrow { color: #eee;font-size: 30px;opacity: 0.4;position: absolute;cursor: pointer; }
.header-cover .arrow:hover { opacity: 1; }
.header-cover .arrow.right { right: 10px;top: 80px;}
.header-cover .arrow.left { left: 10px;top: 80px;}



/* Profile Page */
.profile-details h1 { color: white; }
.profile-header .avatar { width: 80px;margin-bottom: 10px; border: solid 2px white;}
.profile-header .rating { font-size: 18px;text-shadow: none; }
.profile-header .dropshadow { background-color: rgba(0, 0, 0, 0.2); }


.horizontal-sliding-container {
    width: 100%;
    overflow: hidden; white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
}
.collections-container .collection {
    display: inline-block;
    margin-right: 16px;
    cursor: pointer;
}


.review-container { border-bottom: solid 1px #ddd;padding-bottom: 10px;margin-bottom: 10px; }
.review-container.last { border-bottom: 0;padding-bottom: 0;margin-bottom: 0; }
.review-metadata .avatar { width: 60px;height: 60px;margin-right: 16px; }
.reviewer-details .name { font-size: 20px; }
.review-content { margin-left: 78px;color: #777;position: relative; }
.review-content .quote { position: absolute; font-size: 40px; opacity: 0.3; }
.review-content .quote.quote-right { right: -10px;bottom: -29px; }
.review-content .quote.quote-left { top: -24px;left: -24px; }









/* Collage Thumbnails */
.thumbs1, .thumbs2, .thumbs3, .thumbs4
{
    width: 100%;
    height: 220px;
    border: 1px solid #ececec;
}

div.thumbs1 > div.thumb
{
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #fff;
}

div.thumbs2 > div.thumb
{
    width: 49%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #fff;
    display: inline-block;
    float: left;
}

    div.thumbs2 > div.thumb:last-child
    {
        float: right;
    }

div.thumbs3 > div.thumb
{
    width: 24%;
    height: 49%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #fff;
    display: inline-block;
    float: right;
    margin-bottom: 2%;
}

    div.thumbs3 > div.thumb:first-child, div.thumbs4 > div.thumb:first-child
    {
        width: 74%;
        height: 100%;
        float: left;
        margin-bottom: 0px;
    }

    div.thumbs3 > div.thumb:last-child, div.thumbs4 > div.thumb:last-child
    {
        margin-bottom: 0px;
    }
div.thumbs4 > div.thumb
{
    width: 24%;
    height: 31.7%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #fff;
    display: inline-block;
    float: right;
    margin-bottom: 2%;
}



/* Collection page */
/*.nonDraggableImage {
    -moz-user-drag: none;
    -webkit-user-drag: none;
}
.slider {
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    margin-top: 20px;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
}
.slider .arrow {
    font-size: 40px;
    color: #fff;opacity: 0.5;
    position: absolute;
    top: 380px;
    cursor: pointer;
}
.slider .arrow:hover {
    opacity: 1;
}
.slider .arrow.next {
    right: 0;
}
.slider .arrow.prev {
    left: 0;
}*/

