@model Classy.DotNet.Mvc.ViewModels.Default.HomeViewModel
@{
    ViewBag.Title = Localizer.Get("Careers_Title");
    ViewBag.MetaDescription = Localizer.Get("Careers_MetaDescription");
}

<div class="row">
    <div class="col-md-12">
        @Localizer.Get("Careers_AvailableJobs")
    </div>
</div>