@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Localizer.Get("PrivacyPolicy_Title");
    ViewBag.NoIndex = true;
}

<h4>PRIVACY POLICY</h4>
<p>This Privacy Policy is incorporated into and subject to the terms and conditions of the Homelab Terms of Use Agreement (hereinafter "Terms of Use"). By each visit to the Homelab website (the "Website"), or any use of and/or registration on the Website, you expressly consent with all provisions of this Privacy Policy and  to our collection, use, disclosure, and retention of your personal information as described in this Privacy Policy. If you do not agree with any of the terms of this Privacy Policy, you may not use in any manner the Website, the platform (the "Platform") or services (the "Services").</p>
<p>This policy does not apply to information about you collected by third party websites and offerings linked to or otherwise accessible from Homelab. The information collected or received by third parties is subject to their own privacy policies.</p>

<strong>Who is the controller?</strong>
<p>[corporate details] (hereafter "we" or "us")</p>

<strong>What information do we collect?</strong>
<p>
    We collect and store:
    <ul>
        <li>email address, IP address, operating system, browser information and physical contact information;</li>
        <li>collections, comments, reviews, images, other uploaded content, questions and answers, discussion area posts and other messages, including correspondence between us and You; and</li>
        <li>other information automatically collected whenever you interact with us, such as computer sign-on data, statistics on page views and traffic to and from the site.</li>
    </ul>
    (hereafter "Your Information")
</p>

<strong>What do we use Your Information for?</strong>
<p>
    We may use Your Information:
    <ul>
        <li>to achieve the goals for which the Website (including but not limited to the Platform) was construed (ie. exchange or distribution of ideas, advice, tips and tricks in connection with interior and interior design);</li>
        <li>to customize your user experience and deliver to you information that is targeted to your interest;</li>
        <li>to verify your identity;</li>
        <li>to enforce our policies and/or terms and conditions;</li>
        <li>to analyze site usage, improve and measure interest in Our Services, and inform users about services and updates;</li>
        <li>to communicate marketing and promotional offers to our users;</li>
        <li>to provide customer services; and/or</li>
        <li>to administer contests, promotions, surveys or other site features.</li>
    </ul>
</p>

<strong>How do we protect Your Information?</strong>
<p>We understand that the security of Your Information is important. We provide reasonable administrative, technical, and physical security controls to protect Your Information. However, despite our efforts, no security controls are 100% effective and we cannot ensure or warrant the security of Your Information. </p>

<strong>Do we disclose Your Information to outside parties?	</strong>
<p>
    We do not sell or rent your personal information to third parties for their marketing purposes without your explicit consent. However, we may disclose Your Information as follows:
    <ul>
        <li>to our affiliates that we control and that are subject to this Privacy Policy or follow privacy practices at least as protective;</li>
        <li>to identify your reviews as your own;</li>
        <li>to third parties to enforce our Terms of Use and our other agreements and policies, or to protect anyone's rights, property, or safety;</li>
        <li>to third parties to respond to claims that photos or other content that you upload violates other's rights;</li>
        <li>to an acquirer of all or substantially all of the equity, assets or business of Homelab;</li>
        <li>to service providers who help with our business operations and assist in the delivery of Our Services under obligations of confidentiality;</li>
        <li>to law enforcement or other government officials in order to investigate, prevent, or take action regarding illegal activities;</li>
        <li>as otherwise required by law.</li>
    </ul>
</p>

<a id="cookies"></a>
<h4>Cookies</h4>
<strong>What are Cookies?</strong>
<p>A cookie is a text-only string of information that a website transfers to the cookie file of the browser on your computer's hard disk so that the website can recognize you when you revisit and remember certain information about you. This can include which pages you have visited, choices you have made from menus, any specific information you have entered into forms and the time and date of your visit. There are two types of cookies: session cookies and persistent cookies. Session cookies are created temporarily in your browser's subfolder while you are visiting a website. Once you leave the site, the session cookie is deleted. On the other hand, persistent cookie files remain in your browser's subfolder and are activated again once you visit the website that created that particular cookie. A persistent cookie remains in the browser's subfolder for the duration period set within the cookie's file.</p>
<p>In addition to session cookies and persistent cookies, there may be other cookies which are set by the website which you have chosen to visit, such our Website, in order to provide us or third parties with information.</p>

<strong>Do we use Cookies?</strong>
<p>
    We currently use or may use in the future cookies for a number of purposes, including to:
    <ul>
        <li>To enable us to recognize your device so you don't have to give the same information repeatedly;</li>
        <li>To recognize that you may have requested that We remember your username and password so you don't need to enter your details each time you visit the site;</li>
        <li>To ensure that if you are purchasing a product or service via our websites, your experience is smooth and secure;</li>
        <li>To record what the popularity of various elements of the Website so that we can ensure that it works properly at points of high usage. </li>
    </ul>
</p>
<p>Cookies may sometimes be used to deliver advertising and marketing messages relevant to you – a practice across the internet and known as behavioral marketing.</p>
<p>[In addition to cookies which send information to us, we also use cookies which collect information and send it to third parties. An example of this is Google Analytics. Please check the relevant third party website for more information about their use of cookies. Where this site allows such cookies to be set or you access other websites from this site using the links provided, the operators of these websites will use cookies in accordance with their own cookies policy, which may differ from ours.]</p>

<strong>How to control the use of Cookies?</strong>
<p>Most internet browsers are initially set up to automatically accept cookies. You can change the settings to block cookies or to alert you when cookies are being sent to your device. There are a number of ways to manage cookies. Please refer to your browser instructions or help screen to learn more about how to adjust or modify your browser settings.</p>
<p>If you disable the cookies that we use, this may impact your experience on our Website, for example you may not be able to visit certain areas of the Website or you may not receive personalized information when you visit the Website.</p>
<p>If you use different devices to view and access our Website (e.g. your computer, smartphone, tablet etc) you will need to ensure that each browser on each device is adjusted to suit your cookie preferences.</p>

<strong>Your rights</strong>
<p>You can edit your personal information by accessing the "edit profile" page . If you want to request a deletion of your account, please email your request to privacy@homelab.com. Note that we need to retain certain records for legal or internal business reasons (such as fraud prevention). Some of your information may remain on backup systems, in compliance with applicable law.</p>
<p>We will retain Your Information for as long as necessary to provide you with our Services, or as needed to comply with our legal obligations or enforce our agreements.</p>

<strong>Changes to the Privacy Policy</strong>
<p>Occasionally, we may change or update this Privacy Policy to allow us to use or share your previously collected Information in a materially different way. If we do, the links to the policy on our websites will indicate that the policy has been changed or updated. For new users, the change or update will become effective upon posting. For existing users, the change or update will become effective 30 days after posting. We encourage you to periodically review this Privacy Policy for the latest information on our privacy practices.</p>
<p>Last updated: 28 February 2014</p>


<strong>Who can you contact with questions or concerns?</strong>
<p>If you have a privacy question or complaint, please email us at privacy@homelab.com</p>