@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = @Localizer.Get("Terms_Title");
    ViewBag.NoIndex = true;
}


<p>
    <span><b>TERMS OF USE AGREEMENT</b></span>
</p>
<p>
    
        <span>
            Welcome
            to the HomeLab website. This Terms of Use Agreement (&quot;Agreement&quot;)
            constitutes a legally binding contract between HomeLab, an Israelian
            company (hereinafter &quot;HomeLab&quot; &quot;we&quot;, &quot;us&quot;,
            &quot;our&quot;) and you with respect to your use of the HomeLab
            website, HomeLab applications for mobile devices<!-- If these applications are not up and running I would leave them out of your terms of use for the time being -->,
            and the Information and Services (each as defined below)
            (collectively, the &quot;Website&quot;). It is important that you
            carefully read and understand the terms and conditions of this
            Agreement. By using the Website, you agree to be bound by this
            Agreement. If you do not agree to these terms and conditions, please
            do not use the Website or any of the Information or Services. Be
            advised that this Agreement contains disclaimers of warranties and
            limitations on liability that may be applicable to you.
        </span>
    
</p>
<p>
    
        <span>
            We
            reserve the right at any time, with or without cause, to:
        </span>
    
</p>
<ul>
    <li>
        <p>
            
                <span>
                    change the terms and
                    conditions of this Agreement;
                </span>
            
        </p>
    <li>
        <p>
            
                <span>
                    change the Website
                    (including but not limited to the Platform), including eliminating
                    or discontinuing any Information or Services or other feature of the
                    Website (including but not limited to the Platform); or
                </span>
            
        </p>
    <li>
        <p>
            
                <span>
                    deny or terminate your use
                    of and/or access to the Website (including but not limited to the
                    Platform).
                </span>
            
        </p>
</ul>
<p>
    
        <span>
            Any
            changes we make will be effective immediately upon our making such
            changes available on the Website or otherwise providing notice
            thereof. You agree that your continued use of the Website after such
            changes constitutes your acceptance of such changes. You hereby
            acknowledge that you have carefully read all of the terms and
            conditions of our Privacy Policy (which can be accessed at
            https://www.homelab.com/privacy) and agree to all such terms and
            conditions. Be sure to return to this page periodically to ensure
            familiarity with the most current version of this Agreement.
        </span>
    
</p>
<p>
    
        <span>
            HomeLab
            is concerned with the protection of your privacy and engages itself
            to comply with the applicable laws on privacy protection in relation
            to the processing and its Privacy Policy. Our Privacy Policy is
            incorporated by reference in these Terms of Use.
        </span>
    
</p>
<p>
    
        
            
                
                    <span>
                        Purpose
                        of the Website
                    </span>
                
            
        
    
</p>
<p>
    <span>Th</span>
        <span>
            e
            purpose of the Website
        </span>
    
        <span>
            is to offer an online space to the Visitors, home improvement or
            decorating professionals and/or consumers
        </span>
    
        <span>
            where
            they can
        </span>
    
        <span>
            exchange ideas, advices and tips relating to the design, furnishing
            and decoration of their interior (hereafter the “Purpose”).
        </span>
    
</p>
<p>
    
        <span>
            HomeLab
            provides the
        </span>
    
        <span>
            Visitors,
            Registered Users and Professional Users
        </span>
    
        <span>
            of the Website (each as defined below) with a platform (on its
            Website) <!-- If you start using a mobile application, this must be modified -->which
        </span>
    <span>allow</span>
        <span>
            s
            them to get access to the different elementary components of the
            Content (images, pictures, reactions, etc.) which are directly
            connected to the Purpose and the services which Homelab delivers
            (hereafter the “Platform”).
        </span>
    
        <span>
            Content
            can be provided by Registered Users, Professional Users and Homelab.
            Registered Users and Professional Users
        </span>
    
        <span>
            have
            the possibility to
        </span>
    
        <span>
            post
            online, send or distribute Content themselves via the Platform
            (hereafter “User Generated Content”). A “Visitor” means any
            visitor of the Website (including but not limited to the Platform)
            which is not a Registered User of Professional User.
        </span>
    
</p>
<p>
    
        <span>
            <b>
                Permitted Use of Services
                and Information
            </b>
        </span>
    
</p>
<p>
    
        <span>
            The
            services made available on, by or through the Website, which include
            or may include, without limitation, HomeLab registration, marketplace
            for third-party products and services, collections, message boards
            and involvement in HomeLab events (collectively, the &quot;Services&quot;),
            as well as any information provided on, by or through the Website or
            as part of or in connection with the Services or otherwise, including
            but not limited to data, text, graphics, designs, logos, images,
            audio/visual materials, links and references (collectively, the
            &quot;Information&quot;), are provided for personal use only and not
            for any for-profit or commercial activities or commercial purpose or
            for resale, except as expressly permitted herein. Without the written
            consent of HomeLab, no Information or any other HomeLab materials or
            property may be copied, reproduced, displayed, republished,
            downloaded, posted, digitized, translated, modified, transmitted,
            distributed or commercially exploited in any way, except as expressly
            permitted herein.
        </span>
    
</p>
<p>
    
        <span>
            HomeLab
            permits you to view and print a reasonable number of copies of web
            pages located on the Website for your own personal use, but not for
            any for-profit or commercial purpose or for resale; provided that (a)
            you retain all trademark, copyright, and other proprietary notices
            contained in the original materials, (b) you provide attribution to
            HomeLab, (c) the material is printed in its entirety without
            modification, reformatting or adaptation of any kind, and (d) any
            such copies are subject to the terms and conditions of this Agreement
            and remain the property of HomeLab. You understand and agree that you
            may not authorize any Information to be reproduced, modified,
            displayed, performed, transferred, distributed or otherwise used by
            any third party, and you agree that you will take all reasonable
            steps to prevent any unauthorized reproduction and/or other use of
            the Information. You agree to advise HomeLab promptly of any such
            unauthorized use of which you are aware. Failure to abide by these
            conditions will immediately terminate this permission and may result
            in the infringement of the copyrights and/or trademarks and other
            proprietary rights of HomeLab or others.
        </span>
    
</p>
<p>
    <br><br>
</p>
<p>
    <span><b>Registration</b></span>
</p>
<p>
    
        <span>
            Access
            to certain functionalities of the Website will require you to
            register with and/or provide certain information to HomeLab in order
            to become a registered user (a “Registered User”). We reserve the
            right to decline to provide Services to any person for any or no
            reason. If and when you register with or provide information to
            HomeLab, you agree to (a) provide accurate, current and complete
            information about yourself as prompted (including your email address)
            and (b) maintain and update your information (including your email
            address) to keep it accurate, current and complete. You acknowledge
            that, if any information provided by you is untrue, inaccurate, not
            current or incomplete, we reserve the right to terminate this
            Agreement and your use of the Website, Services, and/or Information.
            You understand that any information you provide will be treated by
            HomeLab in the manner described in our Privacy Policy, which can be
            found at https://www.homelab.com/privacy
        </span>
    
</p>
<p>
    
        <span>
            You
            are responsible for maintaining the confidentiality of your password
            as well as your account. You are also solely responsible for all
            activities that occur under your account and password. You agree to
            contact us if there is any unauthorized use of your account or
            password.
        </span>
    
</p>
<p>
    <span><b>Professional Accounts</b></span>
</p>
<p>
    
        <span>
            Home
            improvement professionals or home decorating professionals may elect
            to register with HomeLab as a professional and create a professional
            profile on HomeLab, in order to become a professional user (a
            “Professional User”). Subject to and conditioned on compliance
            with all of the terms of this Agreement, such users are permitted to
            use the professional account/profile features offered by HomeLab to
            promote their business. All such HomeLab professional features are
            subject to discontinuance or change at any time. All of the terms and
            conditions of this Agreement apply to your use of any such
            professional account and profile, including without limitation,
            maintaining profile information, uploading or other posting of
            Content, posting of Reviews, use of HomeLab buttons, links and
            widgets, and indemnification obligations.
        </span>
    
</p>
<p>
    
        <span>
            <b>
                Postings and Other
                Submissions
            </b>
        </span>
    
</p>
<p>
    
        <span>
            As
            part of your use of the Website, you may participate in certain
            collections<!-- Does Homelab also have collections? Or do you have some sort of other feature. If this is the case, the word collections must be replaced throughout these terms of use by the word covering your feature. -->,
            message boards, member communications and/or other public forums.
            Your participation is voluntary; however, by choosing to create
            collections, post photos or comments, send any messages, submit any
            ideas or feedback, or otherwise participate in any HomeLab forum, you
            acknowledge and agree that any postings, messages, text, photos,
            audio/visual works, information, suggestions, feedback, reviews or
            content provided by you (collectively, &quot;Content&quot;) may be
            viewed by the general public and will not be treated as private,
            proprietary or confidential, and you authorize us and our affiliates,
            licensees and sublicensees, without compensation to you or others, to
            copy, adapt, create derivative works of, reproduce, incorporate,
            distribute, publicly display or otherwise use or exploit such Content
            throughout the world in any format or media (whether now known or
            hereafter created) for the duration of any copyright or other rights
            in such Content, and such permission shall be perpetual and may not
            be revoked for any reason. Further, to the extent permitted under
            applicable law, you waive and release and covenant not to assert any
            moral rights that you may have in any Content posted or provided by
            you.
        </span>
    
</p>
<p>
    
        <span>
            By
            posting, distributing, sending or displaying any User Generated
            Content, you (a) grant, and represent and warrant that you have the
            right to grant, to Homelab a non-exclusive, royalty-free, worldwide,
            perpetual, transferable, irrevocable, fully paid and sublicensable
            right to use, reproduce, modify, adapt, translate, distribute,
            publish, create derivative works from, and publicly display and
            perform, the User Generated Content; (b) grant Homelab and its
            affiliates and sublicensees the right to use the name that you submit
            in connection with such User Generated Content; and (c) represent and
            warrant that (i) you own and control all of the rights (including but
            not limited to the intellectual property rights) to the User
            Generated Content that you post or otherwise distribute, or you
            otherwise have the lawful right to post and distribute such User
            Generated Content to or through the Website (including but not
            limited to the Platform); (ii) such User Generated Content is
            accurate and not misleading; and (iii) use and posting or other
            transmission of such User Generated Content does not violate these
            Terms of Use and will not violate any rights of, or cause injury to,
            any person or entity. You further grant Homelab the right to pursue
            at law any person or entity that violates your or Homelab’s rights
            in the User Generated Content by a breach of these Terms of Use.
        </span>
    
</p>
<p>
    
        <span>
            HomeLab
            acknowledges and agrees that you, or your licensors as applicable,
            retain ownership of any and all copyrights in the User Generated
            Content, submitted by you on or through the Website (including but
            not limited to the Platform), subject to the non-exclusive rights
            granted to HomeLab in the paragraph above, and that no ownership of
            such copyrights is transferred to HomeLab under these terms. Further,
            with respect to Content in the form of photos, and subject to HomeLab
            product and user experience considerations (a) HomeLab will use
            commercially reasonable efforts to maintain the attribution of such
            photos as submitted by you, and (b) HomeLab will not license or
            sublicense to third parties individual photo Content or collections
            of photo Content submitted by you, except in each case for HomeLab
            Business Purposes. “HomeLab Business Purposes” means any use in
            connection with a HomeLab-branded or co-branded website, application,
            publication or service, or any use which advertises, markets or
            promotes HomeLab, or its affiliates.
        </span>
    
</p>
<p>
    
        <span>
            The
            moral rights relating to the copyrights of the Visitors, Registered
            Users and Professional Users are governed by Article 6bis of the
            Berne Convention, pursuant to which the user allows Homelab to change
            the Content in order to achieve the abovementioned Purpose. You
            hereby agree that (a) you do not require that any personally
            identifying information be used in connection with the User Generated
            Content, or any derivative works of, or upgrades or updates thereto;
            (b) you do not oppose the publication, use, modification, deletion
            and exploitation of the User Generated Content by Homelab or its
            agents, except when you can evidence that  such modification is
            detrimental for your good name or reputation (c) you waive and will
            not claim or assert any entitlement to any moral rights of an author
            in any of the User Generated Content and (d) you release Homelab from
            any claims that you could otherwise assert against Homelab by virtue
            of any moral rights.
        </span>
    
</p>
<p>
    
        <span>
            By
            posting or providing any Content on the Website (including but not
            limited to the Platform), you represent and warrant to HomeLab that
            you own or have the right to use and permit us to use and license
            such Content in the manner stated in this Agreement. By way of
            example and not limitation, if you post or otherwise provide a
            photograph which includes an image of any person, you need to first
            obtain permission or a release from such person appearing in the
            photograph to use their image and permit us to use and license it as
            stated in this Agreement and you must be the owner or licensee of the
            copyright in the photograph, with the right to permit us to use it as
            stated in this Agreement. By way of further example and not
            limitation, if you post or otherwise provide a photograph of a
            pictorial, graphic, sculptural or architectural work that is
            protected by copyright, you need to first obtain permission or a
            release from the owner of the copyright in such work to reproduce and
            adapt their work and permit us to use it as stated in this Agreement
            and you must be the owner or licensee of the copyright in the
            photograph, with the right to permit us to use it as stated in this
            Agreement.
        </span>
    
</p>
<p>
    
        <span>
            HomeLab
            may enable you to post ratings or reviews of vendors, service
            providers and/or their products or services on the Website, including
            but not limited to the Platform (your “Reviews”). Reviews are
            considered Content. You may not post any reviews about a vendor,
            service provider or any of their products or services if you are (a)
            an employee, contractor, officer or director of the vendor and/or
            service provider; (b) an employee, contractor, officer or director of
            a competitor of the vendor and/or service provider; or (c) related to
            the vendor and/or service provider in any way, including blood,
            adoption or by marriage. By posting a Review, you acknowledge and
            agree that such Content:
        </span>
    
</p>
<ol>
    <li>
        <p>
            
                <span>
                    is based upon your
                    first-hand experience with the vendor, service provider or product
                    or service that is the subject of the Review;
                </span>
            
        </p>
    <li>
        <p>
            
                <span>
                    is accurate, truthful and
                    complete.
                </span>
            
        </p>
</ol>
<p>
    
        <span>
            You
            agree not to post or provide any Content that belongs to any person
            other than yourself or that contains the name, voice or likeness of
            any person other than yourself unless you first obtain permission to
            do so, and to grant to us the rights granted in this agreement, from
            that person.
        </span>
    
</p>
<p>
    
        <span>
            If
            you identify yourself by name or provide a picture or audio or video
            recording of yourself, you further authorize us and our affiliates,
            licensees and sublicensees, without compensation to you or others, to
            reproduce, print, publish and disseminate in any format or media
            (whether now known or hereafter created) your name, voice and
            likeness throughout the world, and such permission shall be perpetual
            and cannot be revoked for any reason.
        </span>
    
</p>
<p>
    
        <span>
            You
            further agree that we may use the posted or provided Content in any
            manner that we deem appropriate or necessary. We reserve the right to
            edit or abridge any Content for any reason, and to edit, refuse to
            post or remove any Content submitted by you or others. We cannot and
            do not guarantee that we will post all Content submitted or that such
            content will not be offensive, defamatory or objectionable. Although
            we reserve the right to remove without notice any Content for any
            reason, we have no obligation to delete Content that you personally
            may find objectionable or offensive. We do not control in real time
            the Content posted via the Services and as such do not guarantee the
            accuracy, integrity or quality of such Content. In addition to other
            disclaimers found in this Agreement, we do not endorse or make any
            warranties or representations with respect to the accuracy,
            completeness or timeliness of any Content posted on the Website
            (including but not limited to the Platform).
        </span>
    
</p>
<p>
    <span><b>Third-Party Links</b></span>
</p>
<p>
    
        <span>
            The
            Website may contain links to other websites for your convenience. We
            do not control the linked websites or the content provided through
            such websites, and we have not reviewed, in their entirety, such
            websites. Your use of linked websites is subject to the privacy
            practices and terms of use established by the specific linked
            website, and we disclaim all liability for such use. The fact that we
            offer such links does not indicate any approval or endorsement by us
            of any linked website or any material contained on any linked
            website, and we disclaim any such approval or endorsement.
        </span>
    
</p>
<p>
    
        <span>
            <b>
                Third-Party Products and
                Services
            </b>
        </span>
    
</p>
<p>
    
        <span>
            You
            may be provided the opportunity to purchase products and services
            offered and sold by third parties (“Products”) through the
            Services. The information provided for any Product listing is
            provided by HomeLab’s third-party vendors, and, while we require
            vendors to provide complete, accurate and non- misleading Product
            information, we do not represent, warrant or guarantee that such
            Product descriptions are accurate, complete, reliable, current, or
            error-free, and we are not responsible for, and disclaim any
            liability arising from or relating to, such Product and Product’s
            listing information. All purchases of Products made by you through
            the Services are a direct sale and purchase between you and the
            applicable vendor. HomeLab is not a party to such transaction, and
            only facilitates the transaction between you and the vendor by
            providing a marketplace for the marketing, offering and sale of
            Products. Payments for Products transacted through the Service will
            be remitted to the vendor, and the vendor will be solely responsible
            for fulfilling and shipping your order, providing related customer
            support and warranty service and processing returns and exchanges.
            The Services will facilitate your communication with the vendor for
            the purpose of making return, exchange or warranty requests or making
            claims for non-delivery, damaged goods or items not as described in
            accordance with any applicable terms or policies in the Product
            listing. In addition, the Services may alert you to any Product
            issues or recalls of which the vendor notifies HomeLab. HomeLab does
            not provide any warranty on any of the Products, whether express or
            implied, and does not assume, and hereby disclaims, any
            responsibility or liability for the actions or inactions of the
            third-party vendors of such Products, or for the Products offered,
            sold or provided by, any third party through the Service.
        </span>
    
</p>
<p>
    
        <span>
            Descriptions
            or images of, or references to, third-party Products or publications
            on the Website (including but not limited to the Platform) do not
            imply our endorsement of such Products and publications, and we are
            not responsible for, and disclaim any endorsement of, any such
            Product or publication.
        </span>
    
</p>
<p>
    
        <span>
            Reviews
            are solely the opinions of the users that post them and none of the
            Reviews contain or reflect any opinions or views of HomeLab.
        </span>
    
</p>
<p>
    <span><b>Acceptable Use Policy</b></span>
</p>
<p>
    
        <span>
            You
            agree not to use the Information, Services, the Platform or the
            Website to take any action or actions that:
        </span>
    
</p>
<p style="margin-left: 0.01in; ">
    
        <span>
            a) are contrary to HomeLab's
            public image, goodwill or reputation;
        </span>
    
</p>
<p style="margin-left: 0.01in; ">
    
        <span>
            b) infringe on our or any
            third party's copyright, patent, trademark, trade secret or other
            proprietary rights or rights of publicity or privacy;
        </span>
    
</p>
<p style="margin-left: 0.01in; ">
    
        <span>
            c) express or imply that any
            of your statements, activities or causes are endorsed by us, without
            our prior written consent in each instance;
        </span>
    
</p>
<p style="margin-left: 0.01in; ">
    
        <span>
            d) violate any applicable
            law, statute, ordinance or regulation, or encourage any conduct that
            could constitute a criminal offense or give rise to civil liability;
        </span>
    
</p>
<p style="margin-left: 0.01in; ">
    
        <span>
            e) are libelous, defamatory,
            threatening, harassing, invasive of privacy, abusive, tortious,
            hateful, discriminatory, pornographic or obscene;
        </span>
    
</p>
<p style="margin-left: 0.01in; ">
    
        <span>
            f) transmit any trade secret
            or other material, non-public information about any person, company
            or entity without the authorization to do so;
        </span>
    
</p>
<p style="margin-left: 0.01in; ">
    
        <span>
            g) restrict or inhibit any
            other Visitor from using the Website (including but not limited to
            the Platform), including, without limitation, by means of &quot;hacking&quot;
            or defacing any portion of the Website (including but not limited to
            the Platform);
        </span>
    
</p>
<p style="margin-left: 0.01in; ">
    
        <span>
            h) modify, adapt,
            sub-license, translate, sell, reverse engineer, decompile, or
            disassemble any portion of the Website, the Platform or Information;
        </span>
    
</p>
<p style="margin-left: 0.01in; ">
    
        <span>
            i) remove any copyright,
            trademark, or other proprietary rights notices contained in or on the
            Information, Website, Platform or Services;
        </span>
    
</p>
<p style="margin-left: 0.01in; ">
    
        <span>
            j) sublicense, sell, rent,
            lease, transfer, assign, or convey any rights under this Agreement to
            any third party, or otherwise commercially exploit or profit from the
            Information or content of the Website (including but not limited to
            the Platform), or any portion thereof, in any manner whatsoever,
            except as expressly permitted herein;
        </span>
    
</p>
<p style="margin-left: 0.01in; ">
    
        <span>
            k) &quot;frame&quot; or
            &quot;mirror&quot; any part of the Website (including but not limited
            to the Platform) without our prior written authorization;
        </span>
    
</p>
<p style="margin-left: 0.01in; ">
    
        <span>
            l) distribute any virus,
            worm or other similar or deleterious files, scripts or programming
            routines;
        </span>
    
</p>
<p style="margin-left: 0.01in; ">
    
        <span>
            m) interfere with or disrupt
            any services or equipment with the intent of causing an excessive or
            disproportionate load on the infrastructure of HomeLab or its
            licensors or suppliers;
        </span>
    
</p>
<p style="margin-left: 0.01in; ">
    
        <span>
            n) involve the preparation
            or distribution of junk mail, spam, chain letters, pyramid schemes,
            or other deceptive or unsolicited bulk or commercial email;
        </span>
    
</p>
<p style="margin-left: 0.01in; ">
    
        <span>
            o) use any robot, spider,
            site search/retrieval application, or other manual or automatic
            device or process to retrieve, index, &quot;data mine&quot; the
            Website (including but not limited to the Platform) or in any way
            reproduce or circumvent the navigational structure or presentation of
            the Website (including but not limited to the Platform) or its
            contents, authentication and security measures;
        </span>
    
</p>
<p style="margin-left: 0.01in; ">
    
        <span>
            p) forge headers or
            otherwise manipulate identifiers in order to disguise the origin of
            any submission;
        </span>
    
</p>
<p style="margin-left: 0.01in; ">
    
        <span>
            q) execute any form of
            network monitoring or run a network analyzer or packet sniffer or
            other technology to intercept, decode, mine or display any packets
            used to communicate between the Website's servers or any data not
            intended for you; and/or
        </span>
    
</p>
<p style="margin-left: 0.01in; ">
    
        <span>
            r) harvest or collect
            information about any Visitors or members without their express
            consent.
        </span>
    
</p>
<p>
    
        <span>
            Improper
            use of the Information, Services, the Platform and/or the Website may
            result in termination of your access to and use of the Website (as a
            whole), and/or civil or criminal liabilities.
        </span>
    
</p>
<p>
    
        <span>
            <b>
                Intellectual
                property rights
            </b>
        </span>
    
</p>
<p>
    
        <span>
            You
            acknowledge and agree that the Website, the Platform and any
            necessary software used in connection with the Website and/or the
            Platform (&quot;Software&quot;) contain proprietary and confidential
            information that is protected by applicable intellectual property and
            other laws. You further agree not to modify, rent, lease, loan, sell,
            distribute, transmit, broadcast, publicly perform or create
            derivative works based on the Homelab, such Content or the Software,
            in whole or in part.
        </span>
    
</p>
<p>
    
        <span>
            Homelab
            grants you a personal, non-transferable and non-exclusive right and
            license to use the object code of its Software on a single computer;
            provided that you do not (and do not allow any third party to) copy,
            modify, create a derivative work from, reverse engineer, reverse
            assemble or otherwise attempt to discover any source code, sell,
            assign, sublicense, grant a security interest in or otherwise
            transfer any right in the Software. You agree not to modify the
            Software in any manner or form, nor to use modified versions of the
            Software, including (without limitation) for the purpose of obtaining
            unauthorized access to the Website and/or the Platform. You agree not
            to access the Website and/or the Platform by any means other than
            through the interface that is provided by Homelab for use in
            accessing Homelab.com.
        </span>
    
</p>
<p>
    
        <span>
            The
            trademarks, logos, and service marks displayed on the Website
            (collectively, the &quot;Trademarks&quot;) are the registered and
            unregistered trademarks of Homelab, Homelab’s licensors and
            suppliers, and/or others. Nothing contained in this Agreement, the
            Website and/or the Platform should be construed as granting, by
            implication, estoppel, or otherwise, any license or right to use any
            Trademark(s) without the express written permission of Homelab,
            Homelab’s licensors or suppliers, or the third party owner of any
            such Trademark.
        </span>
    
</p>
<p>
    
        <span>
            You
            agree to defend, indemnify, and hold harmless Homelab (and its
            officers, directors, employees and agents) from and against any third
            party claims, actions or demands (including, without limitation,
            costs, damages and reasonable legal and accounting fees) which result
            from any User Generated Content infringing the rights of any third
            party (including by way of defamation or infringement of intellectual
            property).
        </span>

                <span>
                </span>
            
        
    
        <span>
        </span>
    
</p>
<p>
    
        <span>
            HomeLab
            declines all liability for any direct or indirect damage caused by
            any infringement of third party rights on the User Generated Content
            by You.
        </span>
    
</p>
<p>
    
        <span>
            Each
            Visitor, Registered User and Professional User agrees to comply with
            all legal and regulatory obligations, the provisions of these Terms
            and Conditions with regard to the intellectual property rights and
            the rights on privacy protection or each other rights on which a
            third party or Homelab could rely.
        </span>
    
</p>
<p>
    
        <span>
            <b>
                HomeLab Buttons, Links
                and Widgets
            </b>
        </span>
    
</p>
<p>
    
        <span>
            You
            may use the HomeLab buttons, links and widgets displayed on the
            'Buttons and Badges' section of this Website (including but not
            limited to the Platform) provided that (a) such buttons, links and
            widgets link only to the Website (including but not limited to the
            Platform); (b) you do not modify such buttons, links, widgets or
            associated code in any manner, (c) you do not use any such buttons,
            links, widgets in any manner which implies or suggests that HomeLab
            operates, endorses, sponsors or recommends the website on which such
            buttons, links and widgets are used, and (d) the use of such buttons,
            links and widgets, and the website on which such buttons, links and
            widgets are used do not violate the HomeLab acceptable use policy
            stated above. You acknowledge and agree that all rights in and to the
            HomeLab trademarks are our exclusive property, and any goodwill
            generated by your use of any HomeLab trademark will inure to our
            exclusive benefit. You will not take any action that is in conflict
            with our rights in or ownership of any HomeLab trademark. We retain
            the right to revoke the permission to use such buttons, links and
            widgets at any time for any reason.
        </span>
    
</p>
<p>
    
        <span>
            <b>
                No Use by Children Under
            </b>
        </span>
    <span><b><span>13</span></b></span>
</p>
<p>
    
        <span>
            You
            hereby affirm that you are over the age of 12, as this Website
            (including but not limited to the Platform) is not intended for
            children under 13. If you are under 13 years of age, then you may not
            use the Website (including but not limited to the Platform). You
            further affirm that you are fully able and competent to enter into
            the terms, conditions, obligations, affirmations, representations,
            and warranties set forth in this Agreement, and to abide by and
            comply with this Agreement.
        </span>
    
</p>
<p>
    <span><b>Report an Abuse</b></span>
</p>
<p>
    
        <span>
            Whenever
            any illegal activity, illegal information or illegal User Generated
            Content posted, distributed, sent or displayed on or through the
            Website (including but not limited to the Platform) is reported to
            us, we warrant to render this Content inaccessible  and we shall
            immediately report this illegal activity, information or User
            Generated Content to the relevant authorities. Whenever the feature
            “Report an Abuse” is activated by a Visitor, Registered User or
            Professional User, the access to this reported Content will be
            immediately and automatically blocked or removed from the Website
            (including but not limited to the Platform),
        </span>
    
        <span>
            subject
            to further verification and
        </span>
    
        <span>
            investigation thereof.
        </span>
    
</p>
<p>
    
        <span>
            You
            can report abuse of our Terms and Conditions here.
        </span>
    
</p>
<p>
    <span><b>Term &amp; Termination</b></span>
</p>
<p>
    
        <span>
            This
            Agreement is effective from the date that you first access the
            Website or submit any information to HomeLab, whichever is earlier,
            and shall remain effective until terminated in accordance with its
            terms. HomeLab may immediately terminate this Agreement, and/or your
            access to and use of the Website (including but not limited to the
            Platform), or any portion thereof, at any time and for any reason,
            with or without cause, without prior notice. This Agreement will also
            terminate automatically if you fail to comply with any term or
            provision of this Agreement. Upon termination of this Agreement by
            either party, your right to use the Website (including but not
            limited to the Platform) shall immediately cease, and you shall
            destroy all copies of information that you have obtained from the
            Website, whether made under the terms of this Agreement or otherwise.
            All disclaimers and all limitations of liability and all HomeLab
            rights of ownership shall survive any termination.
        </span>
    
</p>
<p>
    
        <span>
            We
            reserve the right at any time and from time to time to modify,
            discontinue, temporarily or permanently, the Website (including but
            not limited to the Platform), or any part or portion thereof, with or
            without notice to you. You agree that we shall not be liable to you
            or to any third party for any modification, suspension or
            discontinuance of the Website (including but not limited to the
            Platform), or any part of portion thereof. Nothing in this Agreement
            shall be construed to obligate HomeLab to maintain and support the
            Website, or any part or portion thereof, during the term of this
            Agreement.
        </span>
    
</p>
<p>
    <span><b>Disclaimers</b></span>
</p>
<p>
    
        <span>
            THE
            WEBSITE, INCLUDING BUT NOT LIMITED TO THE PLATFORM, THE INFORMATION
            AND SERVICES, ARE PROVIDED &quot;AS IS&quot; AND &quot;WITH ALL
            FAULTS&quot; AND WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR
            IMPLIED, AND ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, WITHOUT
            LIMITATION, IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, ACCURACY,
            COMPLETENESS, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, ANY
            WARRANTIES THAT MAY ARISE FROM COURSE OF DEALING, COURSE OF
            PERFORMANCE OR USAGE OF TRADE, AND ANY WARRANTIES THAT THE
            INFORMATION, THE PLATFORM AND WEBSITE IS CURRENT AND/OR UP-TO-DATE
            ARE HEREBY EXPRESSLY DISCLAIMED TO THE FULLEST EXTENT PERMISSIBLE
            UNDER APPLICABLE LAW.
        </span>
    
</p>
<p>
    
        <span>
            THERE
            IS NO WARRANTY, REPRESENTATION OR GUARANTEE THAT THE WEBSITE, OR YOUR
            USE OF THE WEBSITE, WILL BE UNINTERRUPTED, COMPLETE, ACCURATE,
            CURRENT, RELIABLE, ERROR-FREE, SECURE, OR THAT ANY PROBLEMS WILL BE
            CORRECTED, OR THAT THE WEBSITE, OR ANY INFORMATION, SOFTWARE OR OTHER
            MATERIAL ACCESSIBLE FROM THE WEBSITE, IS FREE OF VIRUSES OR OTHER
            HARMFUL COMPONENTS. WE DO NOT WARRANT, GUARANTEE, OR MAKE ANY
            REPRESENTATION REGARDING THE USE OF, OR THE RESULTS OF THE USE OF THE
            WEBSITE EITHER IN TERMS OF ITS COMPATIBILITY WITH HARDWARE OR OTHER
            SOFTWARE OR EQUIPMENT, AND YOU ASSUME ALL RESPONSIBILITY AND RISK FOR
            YOUR USE OF THE WEBSITE AND/OR SERVICES AND INFORMATION AND YOUR
            RELIANCE THEREON.
        </span>
    
</p>
<p>
    
        <span>
            HOMELAB
            MAKES NO WARRANTY, REPRESENTATION OR GUARANTEE WITH RESPECT TO
            PRODUCTS AND SERVICES OFFERED BY THIRD-PARTY SELLERS ON THE WEBSITE,
            AND HOMELAB SPECIFICALLY DISCLAIMS ANY WARRANTY, REPRESENTATION OR
            GUARANTEE WITH RESPECT TO THE QUALITY, SAFETY, LEGALITY OR OTHER
            CHARACTERISTICS OF SUCH PRODUCTS AND SERVICES, OR WITH RESPECT TO THE
            CONDUCT OF ANY THIRD-PARTY SELLER IN CONNECTION WITH SUCH OFFERS OR
            SALES.
        </span>
    
</p>
<p>
    <span><b>Limitation of Liability</b></span>
</p>
<p>
    
        <span>
            NOTWITHSTANDING
            THE FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY OF ANY KIND,
            NEITHER HOMELAB NOR ANY OF ITS LICENSORS, SPONSORS, AGENTS,
            SUCCESSORS, OR ASSIGNS, NOR OUR OR THEIR DIRECTORS, OFFICERS,
            EMPLOYEES, CONSULTANTS, OR OTHER REPRESENTATIVES, ARE RESPONSIBLE OR
            LIABLE FOR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL,
            EXEMPLARY, PUNITIVE, OR OTHER DAMAGES (INCLUDING WITHOUT LIMITATION
            ANY LOSS OF PROFITS, LOST SAVINGS, OR LOSS OF DATA) OR LIABILITIES
            UNDER ANY CONTRACT, NEGLIGENCE, STRICT LIABILITY, OR OTHER THEORY
            ARISING OUT OF OR RELATING IN ANY MANNER TO THE WEBSITE, INFORMATION,
            SERVICES AND/OR ANY LINKED WEBSITE, WHETHER OR NOT WE HAVE BEEN
            INFORMED OF THE POSSIBILITY OF SUCH DAMAGES OR LIABILITIES. YOUR SOLE
            REMEDY WITH RESPECT TO THIS WEBSITE, THE INFORMATION, SERVICES, OR
            ANY LINKED WEBSITE IS TO STOP USING THE WEBSITE, SERVICE, OR LINKED
            WEBSITE, AS APPLICABLE. NEITHER HOMELAB NOR ANY OF ITS LICENSORS,
            SPONSORS, AGENTS, SUCCESSORS, OR ASSIGNS, NOR OUR OR THEIR DIRECTORS,
            OFFICERS, EMPLOYEES, CONSULTANTS, OR OTHER REPRESENTATIVES WILL HAVE
            ANY LIABILITY TO YOU FOR ANY DAMAGES, EXPENSES OR OTHER LIABILITY
            INCURRED BY YOU AS A RESULT OF (1) ANY INACCURACY, INCOMPLETENESS OR
            MISREPRESENTATION OF ANY INFORMATION, CONTENT, POSTINGS OR
            SUBMISSIONS PROVIDED OR POSTED ON THE WEBSITE BY THIRD PARTIES OR (2)
            YOUR HIRING OR ENGAGEMENT OF, OR ASSOCIATION WITH, ANY THIRD PARTY
            ADVERTISING OR OFFERING PRODUCTS OR SERVICES THROUGH THE WEBSITE.
        </span>
    
</p>
<p>
    <span><b>Indemnification</b></span>
</p>
<p>
    
        <span>
            You
            agree to fully indemnify, defend, and hold HomeLab, our licensors,
            suppliers, agents, successors, and assigns and our and their
            directors, officers, employees, consultants, and other
            representatives, harmless from and against any and all claims,
            damages, losses, costs (including reasonable attorneys' fees), and
            other expenses that arise directly or indirectly out of or from: (a)
            your breach of this Agreement, including but not limited to the
            Acceptable Use Policy; (b) any allegation that any materials you
            submit to us or transmit to the Website (including but not limited to
            the Platform) infringe or otherwise violate the copyright, patent,
            trademark, trade secret, or other intellectual property or other
            rights of any third party; (c) your activities in connection with the
            Website (including but not limited to the Platform) or other websites
            to which the Website (including but not limited to the Platform) is
            linked; and/or (d) your negligence or willful misconduct.
        </span>
    
</p>
<p>
    <span><b>Jurisdictional Issues</b></span>
</p>
<p>
    
        <span>
            HomeLab
            makes no representation that the Website (including but not limited
            to the Platform) operates (or is legally permitted to operate) in all
            geographic areas, or that the Information, Website, the Platform or
            Services are appropriate or available for use in other locations.
            Accessing the Website from territories where the Website or any
            content or functionality of the Website or portion thereof is illegal
            is expressly prohibited. If you choose to access the Website, you
            agree and acknowledge that you do so on your own initiative and at
            your own risk, and that you are solely responsible for compliance
            with all applicable laws.
        </span>
    
</p>
<p>
    
        <span>
            <b>
                Dispute
                Resolution/Governing Law
            </b>
        </span>
    
</p>
<p>
    
        <span>
            This
            Agreement shall be governed by and construed in accordance with the
            laws of Israel.
        </span>
    
</p>
<p>
    <span>
        Any
        dispute arising out of or in connection with this Agreement or the
        use of the Website
    </span>
        <span>
            (including
            but not limited to the Platform)
        </span>
    <span>
        that
        shall not be amicably settled by the parties through good faith
        negotiations within three (3) months after notification in writing by
        any of the parties, shall be finally settled
    </span>
        <span>
            by
            the competent courts of Tel Aviv, Israel<!-- Is this acceptable? -->.
        </span>
    
</p>
<p>
    <span><b>Force Majeure</b></span>
</p>
<p>
    
        <span>
            HomeLab shall not be liable
            for any failure or delay in the performance of our obligations if
            such delay or failure is due to causes beyond our control due
            including by not limited to acts of God, war, strikes or labor
            disputes, embargoes, government orders or any other force majeure
            event
        </span><span>.</span>
        <span>
            (“Force Majeure Event”).
        </span>
    
</p>
<p>
    
        <span>
            We shall notify you in
            writing of the nature of such Force Majeure Event and the effect on
            our ability to perform of our obligations and how we plan to mitigate
            the effect of such Force Majeure Event.
        </span>
    
</p>
<p>
    <span><b>Miscellaneous</b></span>
</p>
<p>
    
        <span>
            If
            any provision of this Agreement is found to be unlawful, void, or for
            any reason unenforceable, then that provision shall be deemed
            severable from this Agreement and shall not affect the validity and
            enforceability of any remaining provisions. This is the entire
            Agreement between you and us relating to the subject matter herein
            and supersedes any and all prior or contemporaneous written or oral
            agreements between you and us with respect to such subject matter.
            This Agreement may not be changed, waived or modified except by
            HomeLab as provided herein or otherwise by written instrument signed
            by HomeLab. Neither this Agreement nor any right, obligation, or
            remedy hereunder is assignable, transferable, delegatable, or
            sublicensable by you except with HomeLab's prior written consent, and
            any attempted assignment, transfer, delegation, or sublicense shall
            be null and void. HomeLab may assign, transfer, or delegate this
            Agreement or any right or obligation or remedy hereunder in its sole
            discretion. No waiver by either party of any breach or default
            hereunder shall be deemed to be a waiver of any preceding or
            subsequent breach or default. Any heading, caption, or section title
            contained in this Agreement is inserted only as a matter of
            convenience and in no way defines or explains any section or
            provision hereof.
        </span>
    
</p>
<p>
    <br><br>
</p>
<p>
    <a name="_GoBack"></a>
    
        <span>
            <b>
                This Website is Operated
                By
            </b>
        </span>
    
</p>
<p style="margin-bottom: 0.14in"><span><br>HomeLab<br>Address:</span></p>
<p style="margin-bottom: 0.14in">
    
        <span>
            Company
            number:
        </span>
    
</p>
<p style="margin-bottom: 0.14in">
    
        <span>
            Telephone
            client service:
        </span>
    
</p>
<p style="margin-bottom: 0.14in">
    
        <span>
            E-mail:
            team@homelab.com
        </span>
    
</p>
<p style="margin-bottom: 0.14in">
    
        <span>
            <br>Effective
            5/3/2014 <br>Last modified as of 5/3/2014
        </span>
    
</p>

