@model IList<Classy.DotNet.Responses.ListingView>

@if (Model.Count() > 0)
{
    foreach (var p in Model)
    {
    <div class="col-md-4">
        <div class="thumbnail">
            @Html.Partial("PhotoActions", new Classy.DotNet.Mvc.ViewModels.Listing.PhotoActionsViewModel { Listing = p, ShowCollect = true, ShowEdit = true, ShowFavorite = true })
            @Html.Thumbnail(p, 266)
            <div class="details">
                <strong>@Html.ListingLink("Photo", p)</strong>
                <br />
                <small>@string.Format(Localizer.Get("PublicProfile_Photo_Comments"), p.CommentCount)</small>
            </div>
        </div>
    </div>
    }
}
