@model Classy.DotNet.Mvc.ViewModels.Listing.ShowListingByTypeViewModel<MyHome.Models.PhotoMetadata>

@{
    ViewBag.Title = "Photos";
}

<div class="row">
    @if (Request.QueryString["photosUploaded"] != null)
    {
        <div class="col-md-12">
            @Html.Bootstrap().Alert(Localizer.Get("UploadPhotos_Success")).Style(AlertColor.Success)
        </div>
    }

    @Html.Partial("SideBar", Model.Profile)


    <div class="col-md-9 main" itemscope itemtype="http://schema.org/LocalBusiness">
        <div id="photos" class="iscroll" data-hasMore="true">
            @Html.Partial("PhotoGrid", Model)
        </div>
    </div>
</div>

@section scripts
{
    <script>

        $(function () {
            $('.thumbnail').mouseover(function () {
                $(this).find('.actions').removeClass('hide');
            });
            $('.thumbnail').mouseout(function () {
                $(this).find('.actions').addClass('hide');
            });
        });

    </script>

    <script src="~/Scripts/iscroll.js"></script>
}