@model Classy.DotNet.Mvc.ViewModels.Listing.ShowListingByTypeViewModel<MyHome.Models.PhotoMetadata>

@{
    ViewBag.Title = "Photos";
}

<div class="row">
    @if (Request.QueryString["photosUploaded"] != null)
    {
        <div class="col-md-12">
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4>@Localizer.Get("UploadPhotos_Success_Title")</h4>
                <p>@Localizer.Get("Upload_Success_Content")</p>
            </div>
        </div>
    }

    @Html.Partial("SideBar", Model.Profile)


    <div class="col-md-9 main" itemscope itemtype="http://schema.org/LocalBusiness">
        <div id="photos">
            @Html.Partial("PhotoGrid", Model.Listings)
        </div>
    </div>
</div>
