@model IEnumerable<Classy.DotNet.Responses.JobView>

@{
    ViewBag.Title = Localizer.Get("UploadCatalog_JobsStatus");
}

<div>
    <h1>@Localizer.Get("UploadCatalog_JobsStatusTitle")</h1>
    <p>@Localizer.Get("UploadCatalog_JobStatusInstructions")</p>
    <hr />

    @if (Model == null || Model.Count() == 0)
    {
        <div class="alert alert-info">
            @Localizer.Get("UploadCatalog_NoJobs")
        </div> 
    }
    else
    {
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Job Id</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Processed/Total/Error</th>
                    <th>Status</th>
                    <th>Errors</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    }
</div>
