@model Classy.DotNet.Responses.VerifyEmailResponse

@{
    ViewBag.Title = Localizer.Get("Profile_VerifyEmail_Title");
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        @if (Model.Verified)
        {
            @Localizer.Get("Profile_VerifyEmail_Success")
        }
        else
        {
            @Localizer.Get("Profile_VerifyEmail_Failure")
        }
    </div>
</div>
