
<div class="profile-header header-cover" ng-style="{'background-image':'url(' + CoverPhotos[0] + ')'}">
    <div class="cover-slider">
        <div class="pane pane1">
            <div class="text-center">
                <img ng-src="{{Avatar}}" class="avatar img-circle" />
            </div>
            <div class="text-center">
                <span ng-repeat="star in Rating" ng-class="{'glyphicon-star-empty': !star.star, 'glyphicon-star': star.star}" class="glyphicon"></span>
            </div>
            <div class="profile-details">
                <h1 class="text-center" ng-bind-template="{{profileDetails.ProfessionalInfo.CompanyName}}"></h1>
                <h3 class="text-center" ng-bind-template="{{Location}}"></h3>
            </div>
        </div>
        <div class="pane pane2">
            <span class="description" ng-bind-html="BusinessDescription | unsafe"></span>
        </div>
    </div>
    <div class="arrow right" ng-click="nextSlide()"><i class="glyphicon glyphicon-chevron-right"></i></div>
    <div class="arrow left" ng-click="prevSlide()"><i class="glyphicon glyphicon-chevron-left"></i></div>
</div>

<div class="profile-collections panel panel-default" ng-if="Collections.length > 0">
    <div class="panel-body collections-container horizontal-sliding-container">
        <div class="collection" ng-repeat="collection in Collections" ng-bind-html="collection | unsafe" onclick="javascript: window.location.href = '#/Collection/' + $(this).find(':first-child').data('collection-id');">
            <!-- collection thumbnails go here -->
        </div>
    </div>
    <div class="panel-footer">
        <span class="view-all" ng-bind-template="{{Resources.ViewAllCollections}}"></span>
    </div>
</div>

<div class="profile-projects panel panel-default" ng-if="Projects.length > 0">
    <div class="panel-body collections-container horizontal-sliding-container">
        <div class="collection" ng-repeat="project in Projects" ng-bind-html="project | unsafe" onclick="javascript: window.location.href = '#/Collection/' + $(this).find(':first-child').data('collection-id');">
            <!-- collection thumbnails go here -->
        </div>
    </div>
    <div class="panel-footer">
        <span class="view-all" ng-bind-template="{{Resources.ViewAllProjects}}"></span>
    </div>
</div>

<div class="profile-reviews panel panel-default">
    <div class="panel-body">
        <div class="review-container" ng-repeat="review in Reviews" ng-class="{'last':$last}">
            <div class="review-metadata clearfix">
                <div class="avatar pull-left">
                    <img ng-src="{{review.Avatar}}" class="avatar img-circle" />
                </div>
                <div class="reviewer-details pull-left">
                    <div class="name">
                        <a href="#/Profile/{{review.ReviewerId}}" ng-bind-template="{{review.Name}}"></a>
                    </div>
                    <div class="rating">
                        <span ng-repeat="star in Rating" ng-class="{'glyphicon-star-empty': !star.star, 'glyphicon-star': star.star}" class="glyphicon"></span>
                    </div>
                </div>
            </div>
            <div class="review-content">
                <div class="quote quote-left"><i class="fa fa-quote-left"></i></div>
                <div class="quote quote-right"><i class="fa fa-quote-right"></i></div>
                <span ng-bind-template="{{review.Content}}"></span>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <span class="view-all" ng-bind-template="{{Resources.ViewAllReviews}}"></span>
    </div>
</div>