@model Classy.DotNet.Mvc.ViewModels.Security.ForgotPasswordViewModel

@{
    ViewBag.Title = Localizer.Get("Login_ForgotPassword");
    ViewBag.NoIndex = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2>@Localizer.Get("Login_ForgotPassword")</h2>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login">
            @Html.Bootstrap().ValidationSummary()

            @using (var f = Html.Bootstrap().Begin(new Form("ForgotPassword").FormMethod(FormMethod.Post)))
            {
                @f.FormGroup().TextBoxFor(x => x.Email).Placeholder(Localizer.Get("Login_Email")).Label().Class("sr-only")
                
                @f.FormGroup().CustomControls(Html.Bootstrap().SubmitButton().Class("btn-block btn-primary").Text(Localizer.Get("Login_ForgotPassword_Submit")))
            }
        </div>
    </div>

</div>