@model MyHome.Models.Common.Modal

<div class="modal fade" id="@Model.Id" data-remote="@Model.RemoteUrl" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="@Model.Id-replace">
            <!-- will be replaced -->
        </div>
    </div>
</div>